<hr>
<footer>

<h5>instagram</h5>


<p>follow for more info</p>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/rolldice">rolldice</a></li>
    <li>contact : 9874563210</li>
    <li>email: Instagram@gmail.com</li>
</ul>

</footer>