

.dark{
    background-color: black; 
    color: white;
}

.white{
    background-color: white;
    color: black;
}

.dont{
    text-align: center  3;
}

#container{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    margin-left: 200px;
}

.red{
    background-color: red;
    color: white;
}


.login-form{
    width: 300px;
    height: 350px;
    margin-left: 250px;
    padding-top: 65px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: aquamarine;
    color: black;
    border: 2px solid #157ebb;
    border-radius: 10px;
}

label{
    text-align: center;
    padding: 25px 25px 65px 0;
    margin: 56px;
    height: 300px;
    position: relative;

    
}

input{
    padding: 15px;
    border-radius: 10px;
   position: relative;

}

#btn-login{
    background-color: #157ebb;
    color: black;
    border: 2px solid black;
    margin: 15px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

#submit{
    width: 200px;
    height: 30px;
    background-color: blue;
    color: white;
    text-align: center;
    cursor:pointer;
}
