

.dark{
    background-color: black; 
    color: white;
}

.white{
    background-color: white;
    color: black;
}

.dont{
    text-align: center  3;
}

#container{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    margin-left: 200px;
}

.red{
    background-color: red;
    color: white;
}
