body{
    background-color: blue;
    color: white;
}
 img{
    width: 300px;
     height: 200px;
 }

 footer{
    background-color: aqua;
    color: black;
 }

 li,a{
    list-style-type: none;
    text-decoration: none;
    color: black;
 }
 a:hover{
    color: red;
    font-size: 20px;
    font-weight: bold;
 }